{:deps {criterium {:mvn/version "0.4.4"}
        net.totakke/libra {:mvn/version "0.1.1"}}
 :aliases {:libra {:extra-paths ["bench"]
                   :extra-deps {net.totakke/libra-runner {:git/url "https://github.com/totakke/libra"
                                                          :sha "6d2da78300438cb212b58d17675fc9e5d405ad49"
                                                          :deps/root "libra-runner"}}
                   :main-opts ["-m" "libra.runner"]}}}
