{:deps {criterium {:mvn/version "0.4.4"}
        net.totakke/libra {:mvn/version "0.1.1"}}
 :aliases {:libra {:extra-paths ["bench"]
                   :extra-deps {net.totakke/libra-runner {:git/url "https://github.com/totakke/libra"
                                                          :sha "88bcb765f62034623c5471034f111c0be8c962d8"
                                                          :deps/root "libra-runner"}}
                   :main-opts ["-m" "libra.runner"]}}}
