{:deps {criterium {:mvn/version "0.4.4"}
        net.totakke/libra {:mvn/version "0.1.1"}}
 :aliases {:libra {:extra-paths ["bench"]
                   :extra-deps {net.totakke/libra-runner {:git/url "https://github.com/totakke/libra"
                                                          :sha "ee1ed682b99225ee7dfea477ac41d794ea2732d8"
                                                          :deps/root "libra-runner"}}
                   :main-opts ["-m" "libra.runner"]}}}
